.left-section{
  color: azure;
}

.left-section h1{
  font-size: 6rem;
  font-family: ;
}

.left-section p{
  font-size: 2rem;
}

.right-section{
  background-color: #B4AFE1;

  align-items: center;

}

.main{
  background-color: #C8E690;
  height: 100vh;
  display: flex;
  align-items: center;
}
